In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('data/survey_results_public.csv',index_col='ResponseId')
schema_df=pd.read_csv('data/survey_results_schema.csv',index_col='qname')

In [4]:
df

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [6]:
df['ConvertedCompYearly'].head(15)

ResponseId
1     62268.0
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10    51552.0
11        NaN
12    46482.0
13    77290.0
14        NaN
15        NaN
Name: ConvertedCompYearly, dtype: float64

In [7]:
df['ConvertedCompYearly'].median()

56211.0

In [9]:
df.median()

C:\Users\asus\AppData\Local\Temp\ipykernel_5640\3856079650.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median(numeric_only=None)

CompTotal              67000.0
ConvertedCompYearly    56211.0
dtype: float64

In [11]:
df.describe()
#it will show the all aggregation

          CompTotal  ConvertedCompYearly
count  4.718300e+04         4.684400e+04
mean   2.119407e+69         1.184262e+05
std    4.603702e+71         5.272944e+05
min    0.000000e+00         1.000000e+00
25%    1.600000e+04         2.702500e+04
50%    6.700000e+04         5.621100e+04
75%    1.400000e+05         1.000000e+05
max    1.000000e+74         4.524131e+07

In [12]:
#mean is affected heaviely by outliers so medians are prefered.

In [13]:
#people who have  answered the question of salary

In [14]:
df['ConvertedCompYearly'].count()

46844

In [15]:
#ie 46844 students have answered the question for the salary in the given survey

In [16]:
df['Gender']

ResponseId
1        Man
2        Man
3        Man
4        Man
5        Man
        ...
83435    Man
83436    Man
83437    Man
83438    Man
83439    Man
Name: Gender, Length: 83439, dtype: object

In [17]:
df['Gender'].value_counts()

Man                                                                                   74817
Woman                                                                                  4120
Prefer not to say                                                                      1442
Non-binary, genderqueer, or gender non-conforming                                       690
Or, in your own words:                                                                  413
Man;Or, in your own words:                                                              268
Man;Non-binary, genderqueer, or gender non-conforming                                   252
Woman;Non-binary, genderqueer, or gender non-conforming                                 147
Man;Woman                                                                                41
Non-binary, genderqueer, or gender non-conforming;Or, in your own words:                 21
Man;Woman;Non-binary, genderqueer, or gender non-conforming                              21
Man;Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:       17
Woman;Or, in your own words:                                                             16
Man;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:             11
Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:            9
Man;Woman;Or, in your own words:                                                          1
Name: Gender, dtype: int64

In [24]:
df.columns

Index(['MainBranch', 'Employment', 'Country', 'US_State', 'UK_Country',
       'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode', 'YearsCodePro',
       'DevType', 'OrgSize', 'Currency', 'CompTotal', 'CompFreq',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [40]:
df['LanguageHaveWorkedWith']

ResponseId
1        C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
2                                    JavaScript;Python
3                             Assembly;C;Python;R;Rust
4                                JavaScript;TypeScript
5                       Bash/Shell;HTML/CSS;Python;SQL
                             ...
83435                               Clojure;Kotlin;SQL
83436                                              NaN
83437                               Groovy;Java;Python
83438             Bash/Shell;JavaScript;Node.js;Python
83439           Delphi;Elixir;HTML/CSS;Java;JavaScript
Name: LanguageHaveWorkedWith, Length: 83439, dtype: object

In [41]:
df['LanguageHaveWorkedWith'].value_counts()

Python                                                                                                 1337
HTML/CSS;JavaScript;Node.js;TypeScript                                                                  811
Java                                                                                                    715
HTML/CSS;JavaScript;PHP;SQL                                                                             674
C#                                                                                                      597
                                                                                                       ...
Assembly;Bash/Shell;C;C#;C++;Delphi;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Perl;PHP;Python;SQL;VBA       1
C#;C++;Dart;Go;JavaScript;Node.js;SQL;TypeScript                                                          1
Bash/Shell;C;C++;Groovy;HTML/CSS;Java;JavaScript;Node.js;SQL;TypeScript                                   1
Bash/Shell;C;HTML/CSS;JavaScript;Node.js;PHP;Python;SQL;Swift                                             1
Delphi;Elixir;HTML/CSS;Java;JavaScript                                                                    1
Name: LanguageHaveWorkedWith, Length: 28690, dtype: int64

In [46]:
df['LanguageHaveWorkedWith'].value_counts(normalize=True)

Python                                                                                                 0.016234
HTML/CSS;JavaScript;Node.js;TypeScript                                                                 0.009847
Java                                                                                                   0.008682
HTML/CSS;JavaScript;PHP;SQL                                                                            0.008184
C#                                                                                                     0.007249
                                                                                                         ...
Assembly;Bash/Shell;C;C#;C++;Delphi;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Perl;PHP;Python;SQL;VBA    0.000012
C#;C++;Dart;Go;JavaScript;Node.js;SQL;TypeScript                                                       0.000012
Bash/Shell;C;C++;Groovy;HTML/CSS;Java;JavaScript;Node.js;SQL;TypeScript                                0.000012
Bash/Shell;C;HTML/CSS;JavaScript;Node.js;PHP;Python;SQL;Swift                                          0.000012
Delphi;Elixir;HTML/CSS;Java;JavaScript                                                                 0.000012
Name: LanguageHaveWorkedWith, Length: 28690, dtype: float64

In [47]:
#normalize equals zero is used to see the results the percentage for series not for dataframes

In [48]:
#GROUPING

In [49]:
# Group by operation involves some combinaion of spliting the object applying a fution and then combining the results.

In [50]:
#GROUPING= SPLIT   +   APPLY FUNCTION  +  COMBINE RESULTS

In [51]:
df['Country']

ResponseId
1                                                 Slovakia
2                                              Netherlands
3                                       Russian Federation
4                                                  Austria
5        United Kingdom of Great Britain and Northern I...
                               ...
83435                             United States of America
83436                                                Benin
83437                             United States of America
83438                                               Canada
83439                                               Brazil
Name: Country, Length: 83439, dtype: object

In [55]:
df['Country'].value_counts()

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Saint Kitts and Nevis                                       1
Dominica                                                    1
Saint Vincent and the Grenadines                            1
Tuvalu                                                      1
Papua New Guinea                                            1
Name: Country, Length: 181, dtype: int64

In [56]:
#Grouping

In [61]:
country_grp=df.groupby(['Country'])

In [76]:
country_grp.get_group('India')

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,4,...,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
23,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,5 - 10 years,School;Friend or family member,7,NaN,...,Under 18 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
40,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,3,NaN,...,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
50,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
53,I am a developer by profession,Employed full-time,India,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,4,...,25-34 years old,Man,No,Prefer not to say,I don't know,None of the above,None of the above,Too long,Neither easy nor difficult,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83400,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,6,...,25-34 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Too short,Easy,27923.0
83407,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",2,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
83411,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",1,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
83412,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",8,5,...,25-34 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,48866.0
83418,I am a developer by profession,"Student, full-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Friend or family member;Online Courses ...,3,NaN,...,18-24 years old,Man,No,NaN,South Asian,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN

In [67]:
# it is same like creationg the filtering and calling

In [68]:
filt=df['Country']=='India'

In [69]:
df.loc[filt]

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,4,...,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
23,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,5 - 10 years,School;Friend or family member,7,NaN,...,Under 18 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
40,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,3,NaN,...,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
50,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
53,I am a developer by profession,Employed full-time,India,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,4,...,25-34 years old,Man,No,Prefer not to say,I don't know,None of the above,None of the above,Too long,Neither easy nor difficult,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83400,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,6,...,25-34 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Too short,Easy,27923.0
83407,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",2,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
83411,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",1,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
83412,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",8,5,...,25-34 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,48866.0
83418,I am a developer by profession,"Student, full-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Friend or family member;Online Courses ...,3,NaN,...,18-24 years old,Man,No,NaN,South Asian,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN

In [71]:

filt=df['Country']=='India'
df.loc[filt]['LanguageHaveWorkedWith'].value_counts()

Python                                                             292
Java                                                               201
HTML/CSS;JavaScript;Node.js;TypeScript                             112
HTML/CSS;JavaScript                                                110
HTML/CSS;JavaScript;Node.js                                         99
                                                                  ...
C;C#;HTML/CSS;JavaScript;Node.js;TypeScript                          1
Java;JavaScript;Kotlin;Node.js;Objective-C;SQL;Swift;TypeScript      1
Go;Java;JavaScript;Node.js;Python;Scala;SQL                          1
APL;HTML/CSS;Java;JavaScript;R;SQL                                   1
Bash/Shell;C;C++;Java;SQL                                            1
Name: LanguageHaveWorkedWith, Length: 4248, dtype: int64

In [77]:
#filtering will give the count for only one country it cannot give result for multiple country

In [94]:
country_grp['LanguageHaveWorkedWith'].value_counts()

Country      LanguageHaveWorkedWith
Afghanistan  APL                                                                                                                                                                                                                                                  3
             APL;Assembly;Bash/Shell;C;C#;C++;Clojure;COBOL;Crystal;Dart;Delphi;Elixir;Erlang;F#;Go;Groovy;Haskell;HTML/CSS;Java;JavaScript;Julia;Kotlin;LISP;Matlab;Node.js;Objective-C;Perl;PHP;PowerShell;Python;R;Ruby;Rust;Scala;SQL;Swift;TypeScript;VBA    2
             Bash/Shell                                                                                                                                                                                                                                           2
             HTML/CSS;JavaScript;PHP;SQL                                                                                                                                                                                                                          2
             APL;Assembly;Bash/Shell;C++;Clojure;Crystal;Elixir;Go;HTML/CSS;JavaScript;Node.js;Perl;PHP;Scala;Swift;TypeScript;VBA                                                                                                                                1
                                                                                                                                                                                                                                                                 ..
Zimbabwe     HTML/CSS;JavaScript;Node.js;PHP;Python;SQL;TypeScript                                                                                                                                                                                                1
             HTML/CSS;JavaScript;Node.js;Python                                                                                                                                                                                                                   1
             HTML/CSS;JavaScript;Python                                                                                                                                                                                                                           1
             HTML/CSS;JavaScript;TypeScript                                                                                                                                                                                                                       1
             Rust                                                                                                                                                                                                                                                 1
Name: LanguageHaveWorkedWith, Length: 54967, dtype: int64

In [81]:
#grouping allows us to see the count for the many countries

In [83]:
country_grp['LanguageHaveWorkedWith'].value_counts().loc['India']

LanguageHaveWorkedWith
Python                                    292
Java                                      201
HTML/CSS;JavaScript;Node.js;TypeScript    112
HTML/CSS;JavaScript                       110
HTML/CSS;JavaScript;Node.js                99
                                         ...
Python;Swift                                1
Python;VBA                                  1
R;Swift                                     1
R;VBA                                       1
Swift;TypeScript                            1
Name: LanguageHaveWorkedWith, Length: 4248, dtype: int64

In [84]:
# IT IS IMPORTANT BECAUSE NOW WE CAN SEE THIS RESULT FOR ANY COUNTRY WITHOUT RUNNING A FILTER ON EACH INDIVIDUAL COUNTRY IN THE WORLD

In [90]:
country_grp['ConvertedCompYearly'].median().loc['Nepal']

7884.0

In [88]:
country_grp['ConvertedCompYearly'].agg(['median','mean'])

                                       median          mean
Country
Afghanistan                            9792.0  2.794748e+06
Albania                               15900.0  4.499814e+04
Algeria                                9875.0  1.446114e+04
Andorra                               94045.5  8.928200e+04
Angola                                 9750.0  2.155680e+04
...                                       ...           ...
Venezuela, Bolivarian Republic of...  12000.0  2.246505e+04
Viet Nam                              12678.0  1.995289e+04
Yemen                                  3954.0  5.628667e+03
Zambia                                 9816.0  1.991491e+04
Zimbabwe                               7200.0  1.141477e+04

[181 rows x 2 columns]

In [89]:
country_grp['ConvertedCompYearly'].agg(['median','mean']).loc['Nepal']

median     7884.000000
mean      15069.541284
Name: Nepal, dtype: float64

In [92]:
country_grp['LanguageHaveWorkedWith'].apply(lambda x:x.str.contains('Python').sum())

Country
Afghanistan                              20
Albania                                  30
Algeria                                  19
Andorra                                   4
Angola                                    5
                                       ...
Venezuela, Bolivarian Republic of...     43
Viet Nam                                173
Yemen                                     6
Zambia                                   12
Zimbabwe                                 17
Name: LanguageHaveWorkedWith, Length: 181, dtype: int64

In [95]:
# to display this things in percentage

In [122]:
country_respondents=df['Country'].value_counts()

In [123]:
country_respondents

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Saint Kitts and Nevis                                       1
Dominica                                                    1
Saint Vincent and the Grenadines                            1
Tuvalu                                                      1
Papua New Guinea                                            1
Name: Country, Length: 181, dtype: int64

In [124]:
country_uses_python=country_grp['LanguageHaveWorkedWith'].apply(lambda x:x.str.contains('Python').sum())

In [125]:
country_uses_python

Country
Afghanistan                              20
Albania                                  30
Algeria                                  19
Andorra                                   4
Angola                                    5
                                       ...
Venezuela, Bolivarian Republic of...     43
Viet Nam                                173
Yemen                                     6
Zambia                                   12
Zimbabwe                                 17
Name: LanguageHaveWorkedWith, Length: 181, dtype: int64

In [126]:
python_df=pd.concat([country_respondents,country_uses_python],axis='columns',sort=False)

In [127]:
python_df

,Country,LanguageHaveWorkedWith
United States of America,15288,7975
India,10511,5233
Germany,5625,2713
United Kingdom of Great Britain and Northern Ireland,4475,2149
Canada,3012,1593
...,...,...
Saint Kitts and Nevis,1,0
Dominica,1,1
Saint Vincent and the Grenadines,1,0
Tuvalu,1,1
Papua New Guinea,1,0

In [131]:
python_df['PerknowPython']=(python_df['LanguageHaveWorkedWith']/python_df['Country'])*100

In [132]:
python_df

,Country,LanguageHaveWorkedWith,PerknowPython
United States of America,15288,7975,52.165097
India,10511,5233,49.785939
Germany,5625,2713,48.231111
United Kingdom of Great Britain and Northern Ireland,4475,2149,48.022346
Canada,3012,1593,52.888446
...,...,...,...
Saint Kitts and Nevis,1,0,0.000000
Dominica,1,1,100.000000
Saint Vincent and the Grenadines,1,0,0.000000
Tuvalu,1,1,100.000000
Papua New Guinea,1,0,0.000000

In [138]:
python_df.sort_values(by=['PerknowPython'],ascending=False)

,Country,LanguageHaveWorkedWith,PerknowPython
Tuvalu,1,1,100.0
Brunei Darussalam,1,1,100.0
Sierra Leone,2,2,100.0
Dominica,1,1,100.0
Liechtenstein,1,1,100.0
...,...,...,...
Mali,2,0,0.0
Saint Kitts and Nevis,1,0,0.0
Saint Vincent and the Grenadines,1,0,0.0
Lesotho,4,0,0.0
Papua New Guinea,1,0,0.0